/* styles/globals.css or your Tailwind config */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Glassmorphism effect */
.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-image {
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.project-image:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}



